.container,
.btnContainer {
  max-width: 500px;
  margin: 0 auto;
}
.inputError {
  margin-bottom: 10px;
  font-size: 12px;
}

.inputHelp {
  margin-bottom: 10px;
  color: var(--font-secondary);
  font-size: 12px;
}
.btnContainer {
  margin-top: var(--gutter);
}
